/*dimenciones barra de navegacion*/
/**{
    /*outline: red 1px solid;
}*/
.nav{
    margin-top: 22px;
    height: 43px;
    width: 1440px;
    display: flex;
    align-items: center;
    
}
/**texto Snap asemenja icono*/
.nav__Snap{
    margin-left: 2.91%;
}
/*caja para menus, careers y about*/
.nav__Menus{
    margin-left: 4.3%;
    width: 380px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/*dimenciones para cajas de menus en nav*/
.nav__box-Menu-Feature{
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
}
/*sub menu Features invisible*/
.nav__Menu-Desplegable-lista{
    width: 140px;
    height: 200px;
    position: absolute;
    right: 0px;
    top: 100%;       
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items:baseline;
    padding-left: 40px;
    font-size: 16px;
}
/*separacion de iconos en el sub menu*/
.nav__Menu-Desplegable-ico{
    padding-right: 10px;
}
/*menu company*/
.nav__box-Menu-Company{
    position: relative;
    height: 60px;
    display: flex;
    align-items: center;
}
/*sub menu Company invisible*/
.nav__Menu-Desplegable-lista-Company {
    width: 100px;
    height: 150px;
    position: absolute;
    top: 100%;       
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items:baseline;
    padding-left: 30px;
    font-size: 16px;
}
/*caja padre de login y register*/
.nav__box-login{
    margin-left: 44.375%;
    width: 200px;
    display: flex;
    justify-content: space-between;
    display: flex;
    align-items: center;
}
/*bordes register*/
#nav__Botton-Register{
    width: 104px;
    height: 42px;
    border: 2px solid hsl(0, 0%, 41%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 41%);
}
/*************************fin de nav*************/
/*contenedor pincipal texto e imagenes*/
.contener{
    width: 1140px;
    height: 688px;
    margin-top: 113px;
    margin-left: 148px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
/*contenedor texto*/
.contener__text{
    width: 515px;
    height: 600px;
    margin-top: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}
/*contenedor botton*/
.contener__button{
    width: 163px;
    height: 57px;
    top: 450px;
    position: absolute;
    border: 1px solid hsl(0, 0%, 8%);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:hsl(0, 0%, 98%);
}
/*contener__text-parafo*/
.contener__text-parafo{
    position: absolute;
    top: 185px;
}
/*imagenes pie de pagina*/
.contener__img-pie{
    width: 512px;
    overflow: hidden;
}
/*contenedor imagen principal*/
.contener-img-principal{
    width: 476px;
}

/**********************/


#button__Login{
    width: max-content;
    display: flex;
    justify-content: end;
    border: 1px rgb(255, 255, 255) solid;
    background-color: hsl(0, 0%, 98%);
    box-sizing:content-box ;
    position: relative;
    font-size: 18px;
    color: hsl(0, 0%, 41%);
}

#card{
    position: absolute;
    top: 70px;    /*modificar pocicion de card*/
    left: 50%;
    width: 300px;
    height: 300px;
    border: 1px solid rgb(174, 174, 174);
    border-radius: 10px;
    box-shadow: 0px 0px 20px 2px rgb(146, 146, 146);
    background-color: rgb(247, 247, 247);
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
#card__user, #card__pass, #button__submint,#button__cancel{
    text-align: center;
    width: 100px;
    height: 40px;
    border: 1px solid rgb(112, 112, 112);
    border-radius: 5%;
}
#button__submint , #button__cancel{
    background-color: rgb(62, 62, 62);
    color: aliceblue;
    box-shadow: 0px 0px 20px 2px rgb(155, 155, 155);
}
