*{
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    /*outline: 1px rgb(56, 56, 56) solid;*/
    font-family: 'Epilogue', sans-serif;
    list-style: none;
}
/*quitarle los eslitos a las etiquetas a*/
a{
    text-decoration: none;
    color: hsl(0, 0%, 41%);
}

/*stylos barra de navegacion*/
.nav{
    color: hsl(0, 0%, 41%);
}

.nav__Snap{
    font-weight: 700;
    font-size: 40px;
    color: hsl(0, 0%, 8%);
}

/*estilo menus Features*/
.nav__Menu-Desplegable-lista{

    box-shadow: 0px 0px 23px 1px hsl(0, 0%, 77%);
    border-radius: 10px;
    background-color: hsl(0, 0%, 98%);
}

.nav__Menu-Desplegable-lista-Company{
    box-shadow: 0px 0px 23px 1px hsl(0, 0%, 77%);
    border-radius: 10px;
    background-color: hsl(0, 0%, 98%);
}
/*estilos cajas de texto*/
.contener__text-titulo{
    color: hsl(0, 0%, 8%);
    font-size: 77px;
    font-weight: 700;
}

.contener__text-parafo{
    color: hsl(0, 0%, 41%);
    font-size: 20px;
    line-height: 30px;      /*separacion entre renglones de texto*/
}
/*estilo boton learn*/
.contener__button{
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    
}